@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f6f8;
  --foreground: #14161a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c7cad1;
  border-radius: 999px;
}
